{{#if signedIn}}
  <div class="text-right">
    <a href="/dashboard/accounts">
      <span class="glyphicon glyphicon-pencil"></span>
      <span>{{__ 'edit_account_info'}}</span>
    </a>
  </div>
{{/if}}

<div class="{{#if signedIn}}disabled{{/if}}">
  <div class="form-group {{hasError 'name' errors}}">
    <label for="contact-name" class="th">{{__ 'full_name'}}
      <small class="th th-small">{{__ 'required'}}</small></label>
    <input type="text" class="form-control" id="contact-name"
                                            name="name"
                                            value="{{store.name}}"
                                            placeholder="{{__
                                            'full_name'}}" required>
    <div class="help-block text-right">{{errorMsg 'name' errors lang}}</div>
  </div>
  <div class="form-group {{hasError 'email' errors}}">
    <label for="contact-email" class="th">{{__ 'email'}}
      <small class="th th-small">{{__ 'required'}}</small></label>
    <input type="email" class="form-control" id="contact-email"
                                              placeholder="{{__ 'email'}}"
                                              name="email"
                                              value="{{store.email}}"
                                              required>
    <div class="help-block text-right">{{errorMsg 'email' errors lang}}</div>
  </div>
  <div class="form-group {{hasError 'phone' errors}}">
    <label for="contact-phone" class="th">{{__ 'phone'}}
      <small class="th th-small">{{__ 'required'}}</small></label>
    <input class="form-control" id="contact-phone"
            placeholder="{{__ 'phone'}}" name="phone"
            value="{{store.phone}}" >
    <div class="help-block text-right">{{errorMsg 'phone' errors lang}}</div>
  </div>
  <!-- <div class="form-group has-error"> -->
  <div class="form-group {{hasError 'address' errors}}">
    <label for="contact-address" class="th">{{__ 'address'}}
      <small class="th th-small">{{__ 'required'}}</small></label>
    <textarea class="form-control"
              rows="5" id="contact-address"
                        placeholder="{{__ 'address'}}"
              name="address" required>{{store.address}}</textarea>
    <div class="help-block text-right">{{errorMsg 'address' errors lang}}</div>
  </div>
  <div class="address-container">
    <div class="address-group country">
      <div class="form-group">
        <label for="contact-country" class="th">{{__ 'country'}}</label>
        <select class="form-control"
                id="contact-country"
                name="country"
                data-store="{{store.country}}"></select>
      </div>
    </div>
    <div class="address-group city">
      <div class="form-group {{hasError 'city' errors}}">
        <label for="contact-city" class="th">{{__ 'state_city'}} 
          <small class="th th-small">{{__ 'required'}}</small></label>
        <input type="text" class="form-control"
                            id="contact-city"
                            placeholder="{{__ 'state_city'}}"
                            value="{{store.city}}"
                            name="city" required>
        <div class="help-block text-right">{{errorMsg 'city' errors lang}}</div>
      </div>
    </div>
    <div class="address-group zip">
      <div class="form-group {{hasError 'zip' errors}}">
        <label for="contact-city" class="th">{{__ 'postal_code'}}
          <small class="th th-small">{{__ 'required'}}</small></label>
        <input type="text" class="form-control"
                            id="contact-name"
                            placeholder="{{__ 'postal_code'}}"
                            name="zip" value="{{store.zip}}" required>
        <div class="help-block text-right">{{errorMsg 'zip' errors lang}}</div>
      </div>
    </div>
  </div>
</div>

{{#unless signedIn}}
<div class="form-group">
  <label for="contact-remark" class="th">{{__ 'remarks'}}</label>
  <textarea class="form-control"
            rows="3" id="contact-remark"
            placeholder="{{__ 'additional_information'}}"
            name="remarks">{{store.remarks}}</textarea>
</div>
{{/unless}}
