<div class="filters">
  <div id="filter-toggle" class="visible-xs-block">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <div class="filter">
    <div class="title th">
      <span>{{__ 'car_manufacturers'}}</span>
      {{pillEmpty 'all' query_params.car_brands lang}}
    </div>
    <ul>
      {{#each carBrands}}
        <li>
          <div class="checkbox">
            <label>
              <input type="checkbox"
                      name="car_brands"
                      value="{{name}}"
                      {{inputChecked 'car_brands' name ../query_params}}>
              {{name}}
            </label>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="filter">
    <div class="title th">
      <span>{{__ 'categories'}}</span>
      {{pillEmpty 'all' query_params.categories lang}}
    </div>
    <ul>
      {{#each categories}}
        <li>
          <div class="checkbox th th-small">
            <label>
              <input type="checkbox"
                      name="categories"
                      value="{{name}}"
                      {{inputChecked 'categories' name ../query_params}}>
              {{../__ name}}
            </label>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="filter">
    <div class="title th">
      <span>{{__ 'subcategories'}}</span>
      {{pillEmpty 'all' query_params.subcategories lang}}
    </div>
    <ul>
      {{#each subcategories}}
      <li>
        <div class="checkbox th th-small">
          <label>
            <input type="checkbox"
                   name="subcategories"
                   value="{{name}}"
                   {{inputChecked 'subcategories' name ../query_params}}>
            {{../__ name}}
          </label>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
