<div class="filters">
  <div id="filter-toggle" class="visible-xs-block">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <!-- <div class="filter"> -->
  <!--   <div class="title th"> -->
  <!--     <span>{{__ 'categories'}}</span> -->
  <!--     {{pillEmpty 'all' query_params.categories lang}} -->
  <!--   </div> -->
  <!--   <ul> -->
  <!--     {{#each categories}} -->
  <!--       <li> -->
  <!--         <div class="checkbox th th&#45;small"> -->
  <!--           <label> -->
  <!--             <input type="checkbox" -->
  <!--                     name="categories" -->
  <!--                     value="{{name}}" -->
  <!--                     {{inputChecked 'categories' name ../query_params}}> -->
  <!--             {{#if ../lang}} -->
  <!--               {{name_th}} -->
  <!--             {{else}} -->
  <!--               {{name}} -->
  <!--             {{/if}} -->
  <!--           </label> -->
  <!--         </div> -->
  <!--       </li> -->
  <!--     {{/each}} -->
  <!--   </ul> -->
  <!-- </div> -->
  <div class="filter">
    <div class="title th">
      <span>{{__ 'subcategories'}}</span>
      {{pillEmpty 'all' query_params.subcategories lang}}
    </div>
    <ul>
      {{#each subcategories}}
      <li>
        <div class="checkbox th th-small">
          <label>
            <input type="checkbox"
                   name="subcategories"
                   value="{{name}}"
                   {{inputChecked 'subcategories' name ../query_params}}>
            {{#if ../inputLang}}
              {{name_th}}
            {{else}}
              {{name}}
            {{/if}}
          </label>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="filter car-brands">
    <div class="filter-title">
      <div class="title th">
        <span>{{__ 'car_manufacturers'}}</span>
        {{pillEmpty 'all' query_params.car_brands lang}}
      </div>
      <!-- <a href="#" id="filter&#45;show&#45;car&#45;brands&#45;btn" -->
      <!--    data&#45;pair&#45;button="#filter&#45;hide&#45;car&#45;brands&#45;btn" -->
      <!--    data&#45;toggle="#filter&#45;car&#45;brands" -->
      <!--   class="glyphicon glyphicon&#45;chevron&#45;down show&#45;btn"></a> -->
      <!-- <a href="#" id="filter&#45;hide&#45;car&#45;brands&#45;btn" -->
      <!--    data&#45;pair&#45;button="#filter&#45;show&#45;car&#45;brands&#45;btn" -->
      <!--    data&#45;toggle="#filter&#45;car&#45;brands" -->
      <!--   class="glyphicon glyphicon&#45;chevron&#45;up hide&#45;btn"></a> -->
    </div>
    <ul id="filter-car-brands">
      {{#each carBrands}}
        <li>
          <div class="checkbox">
            <label>
              <input type="checkbox"
                      name="car_brands"
                      value="{{name}}"
                      {{inputChecked 'car_brands' name ../query_params}}>
              {{name}}
            </label>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
