<footer>
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-sm-2">
        <ul class="th th-small">
          <li><a href="/">{{__ 'home'}}</a></li>
          <li><a href="/products">{{__ 'products'}}</a></li>
          <li><a href="/tra_history">{{__ 'tra_history'}}</a></li>
          <li><a href="/how_to_order">{{__ 'how_to_order'}}</a></li>
          <li><a href="/contact_us">{{__ 'contact_us'}}</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <div class="title th th-small">{{__ 'by_car_manufacturers'}}</div>
        <ul>
          <li><a href="/products?car_brands=HINO">HINO</a></li>
          <li><a href="/products?car_brands=ISUZU">ISUZU</a></li>
          <li><a href="/products?car_brands=MITSUBISHI">MITSUBISHI</a></li>
          <li><a href="/products?car_brands=NISSAN">NISSAN</a></li>
          <li><a href="/products?car_brands=DAEWOO">DAEWOO</a></li>
          <li><a href="/products?car_brands=TOYOTA">TOYOTA</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <div class="title th th-small">{{__ 'by_products'}}</div>
        <ul>
          <li><a href="">Coolant Pump Assy</a></li>
          <li><a href="">Products</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-sm-offset-1 text-right">
        <ul class="th th-small">
          <li>{{__ 'tra_trading_company_name'}}</li>
          <li>{{__ 'tra_address'}}</li>
          <li><span>{{__ 'tel'}}:</span>&nbsp;+(66) 2 224 9268</li>
          <li><span>{{__ 'email'}}:</span><a href="">&nbsp;admin@traautoparts.com</a></li>
        </ul>
      </div>
      <div class="col-sm-1">
        <a href="/">
          <img id="site-logo" src="/assets/images/tra_logo.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
