{{#each orders}}
  <div class="order">
    <div class="row">
      <div class="col-md-12 attr">
        <span class="th th-small">{{../__ 'product_id'}}: </span>
        <span class="product-id">{{product_id}}</span>
      </div>
    </div>
    <div class="row info">
      <div class="col-sm-4 col-md-3 col-lg-2">
        <img src="{{imgSrc primary_image product_id category subcategory}}"
              alt="{{name}}">
      </div>
      <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="product-name">{{name}}</div>
        <div class="product-category th th-small">{{../__ category}} | {{../__ subcategory}}</div>
        <div class="product-details">
          <div>{{details}}</div>
          <div class="order-info pull-right">
            <span class="th">{{../__ 'order'}}</span>
            <div class="amount">
              {{#if ../summary}}
                <div>{{order}}</div>
              {{else}}
                <span class="decrease glyphicon glyphicon-minus-sign"></span>
                <input id="{{product_id}}_order_input"type="number"
                  class="form-control" value="{{order}}">
                <span class="increase glyphicon glyphicon-plus-sign"></span>
              {{/if}}
            </div>
            <span class="th">{{ pluralize order 'item' 'items' ../lang }}</span>
          </div>
        </div>
        <div class="product-part-details">
          {{#unless ../summary}}
            <div class="pull-right">
              <button class="btn btn-default update-btn th th-small hidden"
                      data-product-id="{{product_id}}"
                      data-order-input-id="#{{product_id}}_order_input">
                <span class="glyphicon glyphicon-refresh"></span>
                {{../__ 'update'}}
              </button>
              <a class="btn btn-danger delete-btn th th-small" data-url="/orders/{{product_id}}">
                <span class="glyphicon glyphicon-trash"></span>
                {{../__ 'delete_lowcase'}}
              </a>
            </div>
          {{/unless}}
          {{#if part_no}}
            <div class="attr">
              <span class="th th-small">{{../__ 'part_no'}}: </span>
              <span class="info">{{part_no}}</span></div>
          {{/if}}
          {{#if engine_model}}
            <div class="attr">
              <span class="th th-small">{{../__ 'engine_model'}}: </span>
              <span class="info">{{engine_model}}</span></div>
          {{/if}}
          {{#if substitute_part_no}}
            <div class="attr">
              <span class="th th-small">{{../__ 'substitute_part_no'}}: </span>
              <span class="info">{{substitute_part_no}}</span></div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
