<div class="product-list">
  {{#each products}}
  <div class="col-sm-6 col-md-4 col-lg-4 product-container">
    <div class="product">
      <div class="id-car">
        <a href="/products/{{product_id}}">
          <span class="id">{{product_id}}</span>
        </a>
        <a href="#">
          <span class="car">{{car_name}}</span>
        </a>
      </div>
      <div class="image">
        <a href="/products/{{product_id}}">
          <img src="/assets/images/products/water_pump_assy/WPA-001.jpg" alt="{{name}}">
        </a>
        <div class="order-mask">
          <button class="btn btn-order">
            <span>Order</span>
            <img src="/assets/images/cart-white.png"/>
          </button>
        </div>
      </div>
      <div class="info">
        <a href="/products/{{product_id}}"><div class="name">{{name}}</div></a>
        {{#if details}}
          <div class="details text-ellipsis">{{details}}</div>
        {{/if}}
        <div class="part-info">
          {{#if part_no}}
            <div class="text-ellipsis">part no:&nbsp;
              <span class="number">{{part_no}}</span>
            </div>
          {{/if}}
          {{#if engine_model}}
            <div class="text-ellipsis">engine model:&nbsp;
              <span class="number">{{engine_model}}</span>
            </div>
          {{/if}}
        </div>
      </div>
      <!-- <div class="order&#45;mask"> -->
      <!--   <button class="btn btn&#45;order"> -->
      <!--     <span>Order</span> -->
      <!--     <img src="/assets/images/cart&#45;white.png"/> -->
      <!--   </button> -->
      <!-- </div> -->

      <!-- <div class="order"> -->
      <!--   <button class="btn btn&#45;order"> -->
      <!--     <span>Order</span> -->
      <!--     <img src="/assets/images/cart&#45;white.png"/> -->
      <!--   </button> -->
      <!-- </div> -->
    </div>
  </div>
  {{/each}}
</div>
