{{#each products}}
<div class="col-sm-6 col-md-4 col-lg-3 product-container">
  <div class="product">
    <div class="id-car">
      <span class="id">{{product_id}}</span>
      <span class="car">{{car_name}}</span>
    </div>
    <a href="/products/{{product_id}}">
      <img src="/assets/images/products/water_pump_assy/WPA-001.jpg" alt="{{name}}">
    </a>
    <div class="info">
      <a href="/product/{{id}}"><div class="name">{{name}}</div></a>
      {{#if details}}
        <div class="details">{{details}}</div>
      {{/if}}
      <div class="part-info">
        {{#if part_no}}
          <div>part no:&nbsp;<span class="number">{{part_no}}</span></div>
        {{/if}}
        {{#if engine_model}}
          <div>engine model:&nbsp;
            <span class="number">{{engine_model}}</span>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="order">
      <button class="btn btn-order">
        <span>Order</span>
        <img src="/assets/images/cart-white.png"/>
      </button>
    </div>
  </div>
</div>
{{/each}}
