<div id="recommended-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header th th-medium">{{__ 'recommended_products'}}</div>
        <hr/>
        <div class="product-container">
          <div class="row">
            {{#each recommended}}
              <div class="col-xs-4 col-sm-4 col-md-2 product">
                <a href="/products/{{id}}">
                  <img class="img-responsive"
                       src="{{imgSrc image id category subcategory}}"
                       alt="id">
                </a>
                <div>
                  <a href="/products/{{id}}" class="name">{{name}}</a>
                  <div class="details">
                    {{#if subcategory}}
                      <p class="text-ellipsis th th-small">{{../__ subcategory}}</p>
                    {{else}}
                      <p class="text-ellipsis th th-small">{{../__ category}}</p>
                    {{/if}}
                    <p class="text-ellipsis">{{car_brand}}</p>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


