<div id="cart">
  {{> order_steps}}
  <div id="cart-summary" class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="summary-text th">
          {{__ 'you_have'}}&nbsp;<span class="order-total">{{total}} {{pluralize
            total 'item' 'items' lang}}</span> {{__ 'in_your_order'}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{> orders}}
      </div>
    </div>
    <div class="order-page-action text-center">
      {{#if orders}}
        <div><a class="th" href="/products">{{__ 'continue_shopping?'}}</a></div>
        <a class="btn btn-success th" href="/orders/contact">
          {{__ 'confirm_order_btn'}} <span class="order-total">{{total}} {{pluralize total
            'item' 'items' lang}}</span>
        </a>
      {{else}}
        <a class=" btn btn-success th" href="/products">{{__ 'continue_shopping'}}</a>
      {{/if}}
    </div>

  </div>
</div>
