<div id="confirm-contact">
  {{> order_steps step="confirm-contact"}}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="th th-big">{{__ 'customer_information'}}</h2>
        <form action="/orders/confirm" method="POST">
          <div class="form-group">
            <label for="contact-name" class="th">{{__ 'full_name'}}
              <small class="th th-small">({{__ 'required'}})</small></label>
            <input type="text" class="form-control" id="contact-name"
                                                    name="name"
                                                    value="{{store.name}}"
                                                    placeholder="{{__ 'full_name'}}" required>
          </div>
          <div class="form-group">
            <label for="contact-email" class="th">{{__ 'email'}}
              <small class="th th-small">({{__ 'required'}})</small></label>
            <input type="email" class="form-control" id="contact-email"
                                                     placeholder="{{__ 'email'}}"
                                                     name="email"
                                                     value="{{store.email}}"
                                                     required>
          </div>
          <div class="form-group">
            <label for="contact-phone" class="th">{{__ 'phone'}}
              <small class="th th-small">({{__ 'required'}})</small></label>
            <input type="number" class="form-control" id="contact-phone"
                                                      placeholder="{{__ 'phone'}}"
                                                     name="phone"
                                                     value="{{store.phone}}"
                                                     required>
          </div>
          <!-- <div class="form-group has-error"> -->
          <div class="form-group">
            <label for="contact-address" class="th">{{__ 'address'}}
              <small class="th th-small">({{__ 'required'}})</small></label>
            <textarea class="form-control"
                      rows="5" id="contact-address"
                               placeholder="{{__ 'address'}}"
                      name="address" required>{{store.address}}</textarea>
            <div class="help-block"></div>
          </div>
          <div class="address-container">
            <div class="address-group country">
              <div class="form-group">
                <label for="contact-country" class="th">{{__ 'country'}}</label>
                <select class="form-control"
                        id="contact-country"
                        name="country"
                        data-store="{{store.country}}"></select>
              </div>
            </div>
            <div class="address-group city">
              <div class="form-group">
                <label for="contact-city" class="th">{{__ 'state_city'}} 
                  <small class="th th-small">({{__ 'required'}})</small></label>
                <input type="text" class="form-control"
                                   id="contact-city"
                                   placeholder="{{__ 'state_city'}}"
                                   value="{{store.city}}"
                                   name="city" required>
              </div>
            </div>
            <div class="address-group zip">
              <div class="form-group">
                <label for="contact-city" class="th">{{__ 'postal_code'}}
                  <small class="th th-small">({{__ 'required'}})</small></label>
                <input type="text" class="form-control"
                                   id="contact-name"
                                   placeholder="{{__ 'postal_code'}}"
                                   name="zip" value="{{store.zip}}" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="contact-remark" class="th">{{__ 'remarks'}}</label>
            <textarea class="form-control"
                      rows="3" id="contact-remark"
                      placeholder="{{__ 'additional_information'}}"
                      name="remarks">{{store.remarks}}</textarea>
          </div>
          <div class="order-page-action text-center">
            <div><a href="/orders" class="th">{{__ 'back_to_edit_order?'}}</a></div>
            <button type="submit" class="btn btn-success th">{{__ 'confirm_contact_info_btn'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
