<div id="order-summary">
  {{> order_steps step="summary"}}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center hidden-xs th th-big">{{__ 'your_order_summary'}} ({{cartTotal cart}}
          {{pluralize (cartTotal cart) 'item' 'items' lang }})</h3>
        <div class="visible-xs-block">
          <h3 class="text-center th th-big">{{__ 'your_order_summary'}}</h3>
          <h3 class="th th-big">( {{cartTotal cart}} {{pluralize (cartTotal cart) 'item' 'items'
            lang }} )</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 orders">
        {{> orders summary=true}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="bottom-total th">
          {{__ 'total_of'}} <span>{{cartTotal cart}}</span> {{pluralize
          (cartTotal cart) 'item' 'items' lang }}
        </div>
      </div>
    </div>
  </div>
  <div class="contact-section">
    <div class="container">
      <div class="contact-info">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center th th-medium">{{__ 'your_contact_information'}}</h3>
          </div>
        </div>
        <div class="row contact-details-container">
          <div class="col-md-12 contact-details th">
            <div class="title">{{__ 'full_name'}}</div>
            <div class="details">{{contact.name}}</div>
          </div>
          <div class="col-md-12 col-xs-12 contact-details th">
            <div class="title">{{__ 'email'}}</div>
            <div class="details text-ellipsis">{{contact.email}}</div>
          </div>
          <div class="col-md-12 contact-details th">
            <div class="title">{{__ 'phone'}}</div>
            <div class="details">{{contact.phone}}</div>
          </div>
          <div class="col-md-12 contact-details th">
            <div class="title">{{__ 'address'}}</div>
            <div class="details">
              {{contact.address}}
            </div>
          </div>
          <div class="col-md-12 contact-details th">
            <div class="title">{{__ 'country'}}</div>
            <div class="details">
              {{contact.country}}
            </div>
          </div>
          <div class="col-md-12 contact-details th">
            <div class="title">{{__ 'state_city'}}</div>
            <div class="details">
              {{contact.city}}
            </div>
          </div>
          <div class="col-md-12 contact-details th">
            <div class="title">{{__ 'postal_code'}}</div>
            <div class="details">
              {{contact.zip}}
            </div>
          </div>
          <div class="col-md-12 contact-details block th">
            <div class="title">{{__ 'remarks'}}</div>
            <div class="details">
              {{contact.remarks}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="order-page-action text-center">
            <div><a href="/orders" class="th">{{__ 'back_to_edit_order?'}}</a></div>
            <form action="/orders/place_order" method="post" accept-charset="utf-8">
              <button id="order-place-order" type="submit" class="btn
                btn-success th">
                {{__ 'place_order'}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row"> -->
  <!--   <div class="col&#45;md&#45;12"> -->
  <!--     <div class="order&#45;page&#45;action text&#45;center"> -->
  <!--       <div><a href="/orders">Back to Edit Order?</a></div> -->
  <!--       <form action="/orders/place_order" method="post" accept&#45;charset="utf&#45;8"> -->
  <!--         <button type="submit" class="btn btn&#45;success"> -->
  <!--           Place Order -->
  <!--         </button> -->
  <!--       </form> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

</div>
