<div id="signup">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div id="signin-container">
          <h3 class="text-center th th-medium">{{__ 'sign_up'}}</h3>
          <div class="text-center">
            <img src="/assets/images/signin.png" alt="signin">
          </div>
          <form action="/signup" method="post">
            <div class="form-group {{hasError 'username' errors}}">
              <label for="username" class="th">{{__ 'username'}}</label>
              <small class="th th-small">{{__ 'required'}}</small></label>
              <input type="text" class="form-control" id="username"
                                                      name="username"
                                                      value="{{store.username}}"
                placeholder="{{__ 'username'}}" required>
              <div class="help-block text-right">{{errorMsg 'username' errors lang}}</div>
            </div>
            <div class="form-group {{hasError 'password' errors}}">
              <label for="password" class="th">{{__ 'password'}}</label>
              <small class="th th-small">{{__ 'required'}}</small></label>
              <input type="password" class="form-control" id="password"
                name="password" placeholder="{{__ 'password'}}" required>
              <div class="help-block text-right">{{errorMsg 'password' errors lang}}</div>
            </div>
            <div class="form-group {{hasError 'confirm_password' errors}}">
              <label for="confirm_password" class="th">{{__ 'confirm_password'}}</label>
              <small class="th th-small">{{__ 'required'}}</small></label>
              <input type="password" class="form-control" id="confirm_password"
                name="confirm_password" placeholder="{{__ 'confirm_password'}}"
                required>
              <div class="help-block text-right">{{errorMsg 'confirm_password' errors lang}}
              </div>
            </div>
            <br>
            <h4 class="text-center th th-medium">{{__ 'user_information'}}</h4>
            {{> contact_form}}
            <div class="text-center">
              <button type="submit" class="btn btn-primary">CONFIRM</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
