<div class="orders content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Orders</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Products</th>
              <th>Customer ID</th>
              <th>User ID</th>
              <th>Reference</th>
              <th>Quantity</th>
              <th>Order Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders}}
              <tr>
                <td>{{id}}</td>
                <td>
                  <table style="margin: 0;">
                    {{#each details}}
                    <tr>
                      <td style="font-size: 0.7em">{{product_id}}&nbsp;</td>
                      <td><img style="width: 60px;"
                         src="{{imgSrc primary_image product_id '' subcategory_name}}"
                         alt="image product"/>&nbsp;
                      </td>
                      <td style="font-size: 0.7em"> x {{quantity}}</td>
                    </tr>
                    {{/each}}
                  </table>
                </td>
                <td>{{customer_id}}</td>
                <td>{{user_id}}</td>
                <td>{{ref_id}}</td>
                <td>{{quantity}}</td>
                <td>{{formatDateTime created_at}}</td>
                <td>
                  <a class="btn btn-info btn-sm"
                     href="/dashboard/orders/{{id}}{{orderQuery customer_id}}">Details</a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
