<div id="products">
  <div class="container">
    <div class="row">
      {{> mobile_search}}
      <form id="product-filter-form" action="/products">
        <div class="col-sm-12 products-info">
          <a id="show-categories-btn" class="th" href="#">
            <span class="glyphicon glyphicon-tasks">
            </span>{{__ 'show_categories'}}</a>
          <div class="th">{{__ 'showing'}}
            {{records}}
            {{#if th}}
              {{__ 'products'}}
            {{else}}
              {{pluralize records 'product' 'products'}}
            {{/if}}
          </div>
        </div>
        <div class="col-md-3 col-lg-3 filter-container">
          {{> filters}}
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 product-list-container">
          {{#unless products}}
            <div class="no-results">No results found. Please retry with other search options.</div>
          {{/unless}}
          {{> products}}
          {{paginations page pages path query_params}}
        </div>
      </form>
    </div>
  </div>
</div>
