<div class="breadcrumb-section">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/products">{{__ 'products'}}</a></li>
      <li><a href="/products?categories={{product.category}}">{{__ product.category}}</a></li>
      <li><a href="/products?subcategories={{product.subcategory}}">{{__ product.subcategory}}</a></li>
      <li class="active">{{product.product_id}}</li>
    </ul>
  </div>
</div>
<div id="product-show">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      {{> product_images}}
      <div class="col-md-5 col-lg-5 info">
        <p class="title">
          {{#isEng lang}}
            <span class="name">{{../product.name}}</span>
          {{else}}
            <span class="name th th-big">
              {{escapeText ../product.name_th ../product.name}}
            </span>
          {{/isEng}}
          <span>
            <span class="id">{{product.product_id}}</span>
          </span>
        </p>
        <div class="category-car">
          <span class="category">
            {{#if product.category}}
              <span class="icon-gear"></span>
              <a class="th" href="#">{{__ product.category}}</a>
            {{/if}}
            {{#if product.subcategory}}
              <span>|</span>
              <a class="th" href="#">{{__ product.subcategory}}</a>
            {{/if}}
          </span>
          {{#if product.car_brand}}
            <span class="car-brand">
              <span class="icon-truck"></span>
              <a href="#">{{product.car_brand}}</a>
            </span>
          {{/if}}
        </div>
        <hr />
        <blockquote>
          {{#if product.part_no}}
          <p>
            <span class="th th-small">{{__ 'part_no'}}:&nbsp;</span>
            <span class="id">{{product.part_no}}</span>
          </p>
          {{/if}}
          {{#if product.substitute_part_no}}
            <p>
              <span class="th th-small">{{__ 'substitute_part_no'}}:&nbsp;</span>
              <span class="id">{{product.substitute_part_no}}</span>
            </p>
          {{/if}}
          {{#if product.engine_model}}
            <p>
              <span class="th th-small">{{__ 'engine_model'}}:&nbsp;</span>
              <span class="id">{{product.engine_model}}</span>
            </p>
          {{/if}}
        </blockquote>
        {{#isEng lang}}
          {{#if ../product.details}}
            <p class="details">{{../../product.details}}</p>
          {{/if}}
          {{#if ../product.remark}}
            <div class="remark">
              <p>{{../../__ 'remarks'}}:</p>
              <p>{{../../product.remark}}</p>
            </div>
          {{/if}}
        {{else}}
          {{#if ../product.details_th}}
            <p class="details th">{{../../product.details_th}}</p>
          {{/if}}
          {{#if ../product.remark_th}}
            <div class="remark">
              <p class="th th-small">{{../../__ 'remarks'}}:</p>
              <p class="th th-small">{{../../product.remark_th}}</p>
            </div>
          {{/if}}
        {{/isEng}}
        <hr />
        <div class="order">
          <div class="in-cart-msg th th-small {{#unless inCart}}hidden{{/unless}}">{{__ 'already_in_cart'}}</div>
          <div class="spinner">
            <span class="decrease-order glyphicon glyphicon-minus"></span>
            {{#if inCart}}
              <input type="number" pattern="[0-9]*" min="0"
                value="{{inCart}}" id="order-amount"/>
            {{else}}
              <input type="number" pattern="[0-9]*" min="0"
                value="1" id="order-amount"/>
            {{/if}}
            <span class="increase-order glyphicon glyphicon-plus"></span>
          </div>
          <button class="btn btn-order" data-product-id="{{product.product_id}}" disabled>
            <span class="th th-small">
              {{#if inCart}}
                {{__ 'update'}}
              {{else}}
                {{__ 'order_btn'}}
              {{/if}}
              <span class="icon-cart"></span>
            </span>
          </button>
          <div style="line-height: 1.5em; padding-top: 1em; color: #ff6665; }">
            <div>{{__ 'sorry_for_inconvenience'}}</div>
            <div>{{__ 'online_purchase_unavailable'}}</div>
            <div>{{__ 'please_contact_us'}}</div>
          </div>
          <div id="flash-ordered-msg" hidden>1 item is added to your cart</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> recommended_products }}
