<div id="product-show">
  <div class="container">
    <div class="row">
      {{> product_images}}
      <div class="col-md-5 col-lg-5 info">
        <p class="title">
          <span class="name">{{product.name}}</span>
          <span>
            <span class="id">{{product.product_id}}</span>
          </span>
        </p>
        <div class="category-car">
          <span class="category">
            {{#if product.category}}
              <span class="icon-gear"></span>
              <a href="#">{{product.category}}</a>
            {{/if}}
            {{#if product.subcategory}}
              <span>|</span>
              <a href="#">{{product.subcategory}}</a>
            {{/if}}
          </span>
          {{#if product.car_brand}}
            <span class="car-brand">
              <span class="icon-truck"></span>
              <a href="#">{{product.car_brand}}</a>
            </span>
          {{/if}}
        </div>
        <hr />
        <blockquote>
          {{#if product.part_no}}
            <p>Part no.:&nbsp;<span class="id">{{product.part_no}}</span></p>
          {{/if}}
          {{#if product.substitute_part_no}}
            <p>Substitute part no.:&nbsp;
            <span class="id">{{product.substitute_part_no}}</span></p>
          {{/if}}
          {{#if product.engine_model}}
            <p>Engine model:&nbsp;<span class="id">{{product.engine_model}}</span></p>
          {{/if}}
        </blockquote>
        {{#if product.details}}
          <p class="details">{{product.details}}</p>
        {{/if}}
        {{#if product.remark}}
          <div class="remark">
            <p>Remark:</p>
            <p>{{product.remark}}</p>
          </div>
        {{/if}}
        <hr />
        <div class="order">
          <div class="in-cart-msg {{#unless inCart}}hidden{{/unless}}">Already in Cart</div>
          <div class="spinner">
            <span class="decrease-order glyphicon glyphicon-minus"></span>
            {{#if inCart}}
              <input type="number" pattern="[0-9]*" min="0"
                value="{{inCart}}" id="order-amount"/>
            {{else}}
              <input type="number" pattern="[0-9]*" min="0"
                value="1" id="order-amount"/>
            {{/if}}
            <span class="increase-order glyphicon glyphicon-plus"></span>
          </div>
          <button class="btn btn-order" data-product-id="{{product.product_id}}">
            <span>
              {{#if inCart}}
                Update
              {{else}}
                Order
              {{/if}}
              <span class="icon-cart"></span>
            </span>
          </button>
          <div id="flash-ordered-msg" hidden>1 item is added to your cart</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> recommended_products }}
